<%- include('../../components/header.ejs') %>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
  <%- include('../../components/navbar.ejs') %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agent</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/agent">Agent</a></li>
              <li class="breadcrumb-item active">Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Form edit data agent <%= agent.username %></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form action="/admin/agent/edit/<%= agent.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="name">Username</label>
                          <input type="text" name="username" class="form-control" id="username" value="<%= agent.username %>" placeholder="username" />
                        </div>

                        <div class="form-group">
                          <label for="name">Channel Name</label>
                          <input type="text" name="channelName" class="form-control" id="channelName" value="<%= agent.channelName %>" placeholder="channel name" />
                        </div>


                        <div class="form-group">
                          <label for="profilePicture">Profile Picture</label>
                          <input type="file" name="profilePicture" class="form-control" id="profilePicture" accept="image/*" onchange="previewImage(event)" />
                        </div>
                        
                        <div style="display: flex; align-items: center;">
                          <div style="text-align: center; margin-right: 20px;">
                            <p style="margin-bottom: 10px;">before:</p>
                            <img src="<%= agent.profilePicture %>" style="border-radius: 100%; width: 100px; height: 100px;" alt="" class="img-thumbnail">
                          </div>
                          
                          <div style="text-align: center;">
                            <p style="margin-bottom: 10px;">after:</p>
                            <img id="profile-preview" src="" alt="Profile Preview" style="display: none; border-radius: 100%; width: 100px; height: 100px;" class="img-thumbnail" />
                          </div>
                        </div>

                        <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="password" required />
                      </div>
  
                      <input type="checkbox" class="my-1" onclick="myFunction()" /> Show Password
  
                    
                      </div>

                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                        <button type="button" class="btn btn-secondary">
                          <a href="/agent" style="color: white"><i class="fa fa-undo"></i> Cancel</a>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
    <!-- /.content -->
</div>

<script>
  function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function() {
      var dataURL = reader.result;
      var output = document.getElementById('profile-preview');
      output.src = dataURL;
      output.style.display = 'block';
    };

    reader.readAsDataURL(input.files[0]);
  }
</script>

<script>
  function myFunction() {
    var x = document.getElementById('password');
    if (x.type === 'password') {
      x.type = 'text';
    } else {
      x.type = 'password';
    }
  }
</script>


  <%- include('../../components/footer.ejs') %>
