<%- include('../components/header.ejs') %>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
<%- include('../components/navbar.ejs') %>
    <!-- Content Wrapper -->
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="col-sm-6 p-3">
            <h1 class="m-0">Admin</h1>
          </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= count.agent %></h3>

                <p>Agent</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <a href="/admin/agent" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><%= count.user %></h3>

                <p>User</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-people-group"></i>
              </div>
              <a href="/admin/user" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= count.game %></h3>

                <p>Game</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-gamepad"></i>
              </div>
              <a href="/admin/game" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><%= count.gift %></h3>

                <p>Gift</p>
              </div>
              <div class="icon">
                <i class="fas fa-gift"></i>
              </div>
              <a href="/admin/gift" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
        </div>
      </section>
    </div>
<%- include ('../components/footer.ejs') %>