<table id="example2" class="table table-bordered table-hover table-striped" style="width: 100%">
    <thead>
      <tr>
        <th style="width: 7%">No</th>
        <th>Language Name</th>
        <th>Language Code</th>
        <th style="width: 20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < language.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= language[i].languageName %></td>
          <td><%= language[i].languageCode %></td>
          <td>
            <form action="/language/delete/<%= language[i].id %>?_method=DELETE" method="POST">
              <a href="/language/edit/<%= language[i].id %>" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i> Edit
              </a>
              <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  